<div class="row">
  <div class="col-md-3">
    <img class="rounded float-right" src="../../../../../../assets/images/avatars/12.jpg" />
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-2"><p class="text-right">Programme:</p></div> <div class="col-md-10 text-left"><p> {{programme | uppercase}}</p></div>
    </div>
    <div class="row ">
      <div class="col-md-2"><p class="text-right">Level: </p></div><div class="col-md-10 text-left">{{level}}</div>
    </div>
  </div>
  
</div>
